.game-page__content {
    display: flex;
}
.game-page__left {
    width: 75%;
}
.game-page__right {
    width: 25%;
}
.game-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}