.basket-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.basket-item__price {
    display: flex;
    align-items: center;
}